.heroBanner {
  padding: 4rem 0;
  margin: 24px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
